{% extends "layout.html" %}
{% block title %}
    HotPot! - Create Posting
{% endblock %}

{% block head %}
    {% assets "login_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}"/>
    {% endassets %}
    <link rel="stylesheet" href="/static/css/lib/datepicker3.css"/>
    <script src="/static/js/lib/bootstrap-datepicker.js"></script>
{% endblock %}
{% block body %}
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form class="form-signin" action="{{ url_for('home.home_page')+username+'/create_posting' }}" method="POST">
            <h2 class="page-header">Create Posting</h2>
            <label for="inputDescription" class="sr-only">Description</label>
            {{ form.description(type='text', id='inputDescription', class='form-control', placeholder='Description',
        required='', autofocus='') }}
            <label for="inputPrice" class="sr-only">Description</label>
            {{ form.price(type='number', step='any', id='inputPrice', class='form-control', placeholder='Price',
        required='') }}
            <label for="inputDate" class="sr-only">Date</label>
            {{ form.date(type='text', id='date', class='form-control', placeholder='Date', required='') }}
            <script>$('#date').datepicker({
                todayBtn: "linked",
                calendarWeeks: true,
                autoclose: true,
                todayHighlight: true
            });</script>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Create!</button>
            {{ form.csrf_token() }}
        </form>
    </div>
    <div class="col-md-4"></div>
    {% assets "login_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}