<div class="row"><span class="label label-default"
                       style="font-size:large">Available postings:</span>
</div>
<div class="container row" style="padding-top:2%">
    <div class="col-md-8">
        <table id="postings-table"></table>
    </div>
    <div class="col-md-4"></div>
    <div class="row" ng-repeat="posting in postings.result">
        <!-- Modal -->
        <div class="modal fade" id="[['myModal' + $index]]" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">[[posting.description]]</h4>
                    </div>
                    <div class="modal-body">
                        <label for="[['inputDescription'+ $index]]">Description</label>
                        <input type="text" id="[['inputDescription'+ $index]]" class="form-control"
                               value="[[posting.description]]" required autofocus disabled>
                        <label for="[['inputPrice'+ $index]]">Price ($)</label>
                        <input type="number" step="any" id="[['inputPrice'+ $index]]" class="form-control"
                               value="[[posting.price]]" required="" disabled/>
                        <label for="[['inputDate'+ $index]]">Date</label>
                        <input type="text" id="[['inputDate'+ $index]]" class="form-control date-picker"
                               value="[[posting.date]]"
                               required disabled />
                        <script>$(".date-picker").datepicker({
                            todayBtn: "linked",
                            calendarWeeks: true,
                            autoclose: true,
                            todayHighlight: true
                        });</script>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Reserve!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>